@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Theme Mặc định */
  :root {
    --background: #ffffff;
    --foreground: #09090b;
    --primary: #18181b;
    --primary-foreground: #fafafa;
  }

  /* Theme Luxury (Tông Vàng - Đen) */
  .theme-luxury {
    --background: #000000;
    --foreground: #fefce8;
    --primary: #eab308; /* Vàng */
    --primary-foreground: #000000;
  }

  /* Theme Eco (Tông Xanh lá) */
  .theme-eco {
    --background: #f0fdf4;
    --foreground: #052e16;
    --primary: #16a34a; /* Xanh */
    --primary-foreground: #ffffff;
  }
}
